<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Fiefdom</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<div style="font-family:Alagard; position:absolute; left:-1000px; visibility:hidden;">.</div>
	<div class="fiefdom-body">
	</div>
	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/phaser@3.17.0/dist/phaser.min.js"></script>
	<script src="/lib/signalR/signalr.js"></script>

	<script>
		var userName = "@ViewBag.UserName";
	</script>

	<script src="/js/fiefdomData.js"></script>
	<script src="/js/phaserWindow.js" asp-append-version="true"></script>
</body>
</html>
